
RewriteEngine on
RewriteCond %{HTTP_HOST} ^reviewcantho\.vn$ [OR]
RewriteCond %{HTTP_HOST} ^www\.reviewcantho\.vn$
RewriteRule ^home\/traicayx\/reviewcantho\.vn$ "http\:\/\/reviewcantho\.vn\/" [R=301,L]
RewriteCond %{HTTP_HOST} ^reviewcantho\.vn$ [OR]
RewriteCond %{HTTP_HOST} ^www\.reviewcantho\.vn$
RewriteRule ^home\/traicayx\/reviewcantho\.vn$ "http\:\/\/reviewcantho\.vn\/" [R=301,L]

